@import './base.css';

body {
  background: url('images/bg-body.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
